Repository Anselmoo/bibtex2cff, changes with the labels that .github/labeler.yml gives for each.
All labels: test, source, markdown, poetry, ci

docs: Add PyPi link
  README.md
Labels: markdown

chore: Update version for Zenodo release
  pyproject.toml
  src/bibtex2cff/__init__.py
Labels: source, poetry

Update README.md
  README.md
Labels: markdown

docs: Add reference files
  CITATION.cff
  README.md
  src/test/examples/initial_realase.bib
Labels: test, markdown

ci: Correct branch name
  .github/workflows/python-package.yml
Labels: ci

fix: Fix pytest dep
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  .sourcery.toml
  poetry.lock
  pyproject.toml
Labels: poetry, ci

bug: Change from `_` to `-` Fixes #4
  src/bibtex2cff/cmd.py
  src/bibtex2cff/convert_cff.py
  src/test/test_convert_cff.py
Labels: test, source

build: Bump from `0.2.0` to `0.2.1`
  poetry.lock
  pyproject.toml
  src/bibtex2cff/__init__.py
Labels: source, poetry

Update CITATION.cff
  CITATION.cff
Labels: none

Update CITATION.cff
  CITATION.cff
Labels: none

Update CITATION.cff
  CITATION.cff
Labels: none

Update CITATION.cff
  CITATION.cff
Labels: none

Update CITATION.cff
  CITATION.cff
Labels: none

Update CITATION.cff
  CITATION.cff
Labels: none

Update CITATION.cff
  CITATION.cff
Labels: none

Update CITATION.cff
  CITATION.cff
Labels: none

Update CITATION.cff
  CITATION.cff
Labels: none

Update CITATION.cff
  CITATION.cff
Labels: none

.github/labeler.yml:

test:
- src/test/**/*
- src/test/*

source:
- src/bibtex2cff/**/*
- src/bibtex2cff/*

markdown:
  - README.md
  - CHANGELOG.md
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - LICENSE.mds

poetry:
  - poetry.lock
  - pyproject.toml

ci:
  - .github/workflows/**/*
  - .github/**/*
  - .github/*
